!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RPI GPIO Server
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      .nav-wrapper.container
        = link_to '#', class: 'brand-logo' do
          = 'RPi'
    .container
      = yield